div#entries, #form {
	margin: auto;
	width: 50%;
}

.card {
	margin-bottom: 2em;
	background-color: rgba(0, 64, 234, 0.46);
}

.card-title {
	margin-bottom: 0;
}

.date {
	font-size: 0.8em;
}

blockquote {
	margin: 0;
}

form#form {
	padding: 0 1.25em;
}

body {
	background-color: rgba(0, 64, 234, 0.46);
	color: #FFFFFF;
	
}


#submitBtn {
    margin-top: 10px; /* Ändere den Wert nach Bedarf, um den gewünschten Abstand zu erhalten */
    display: block; /* Stellt sicher, dass der Button ein Blockelement ist */
    margin-left: auto; /* Zentriert den Button horizontal */
    margin-right: auto; /* Zentriert den Button horizontal */
	background-color: #194bd4; 
    color: #ffffff; 
	
}

.marquee-container {
	width: 100%;
	overflow: hidden;
}

.marquee-content {
	white-space: nowrap;
	animation: marquee 30s linear infinite;
}

@keyframes marquee {
	0% { transform: translateX(100%); }
	100% { transform: translateX(-100%); }
}